<h2><%= @hashtag.tag %></h2>


<% @hashtag.photos.each do |photo| %>
	<p><%= photo.user.email %><br>
	<%= image_tag photo.image %></p>
	<p><%= photo.caption %><br>

<% end %>
<br>
<%= link_to "Back", hashtags_path %>