
	<div class="container w">
		<div class="row centered">
			<br>
			<h2>My BruGrams</h2>
			<br>

	<% @photo.each do |photo| %>
	<% if photo.user = current_user %>


			<div class="col-lg-4">
				<p><%= link_to photo.user.email, photo_path(photo) %><br>
				<%= link_to image_tag(photo.image), photo_path(photo) %></p>
				<p><%= photo.caption %></p>

				<% if can_edit_photo?(photo) %>
				<%= link_to "Edit", edit_photo_path(photo) %> | 
				<%= link_to "Delete", photo_path(photo), 
					method: :delete,
					data: {confirm: "Are you sure?"} %>
				<% end %>
				
			</div><!-- col-lg-4 -->
			<% end %>
			<% end %>


		</div><!-- row -->
	</div><!-- container -->
<br><br>

