<% @photo.each do |photo| %>
<% if photo.user = current_user %>
<p><%= photo.user.email %><br>
<%= image_tag photo.image %></p>
<p><%= photo.caption %></p>


<% end %>
<% end %>
<br>
<%= link_to 'Home', root_path %> | <%= link_to 'Back', photos_path %>
