<%= form_for @photo do |f| %>
	<p><%= f.label :image, "Image URL" %><br>
		<%= f.text_field :image %>
	</p>
	<p><%= f.label :caption %><br>
		<%= f.text_field :caption %>
	</p>
		<p><%= f.label :public, "Would you like this to be public?" %><br>
		<%= f.check_box :public %>
	</p>
	<%= f.submit %>
<% end %>
<br><br>
<%= link_to 'Home', root_path %> | <%= link_to 'Back', photos_path %>