<p><%= @photo.user.email %><br>
<%= image_tag @photo.image %></p>
<p><%= @photo.caption %></p>

<% if can_edit_photo?(@photo) %>
<%= link_to "Edit", edit_photo_path(@photo) %>
<% end %> 


<% if can_edit_photo?(@photo) %>
<%= link_to "Delete", photo_path(@photo), 
	method: :delete,
	data: {confirm: "Are you sure?"} %>
<% end %>

<%= render 'comments' %>

<br>
<%= link_to "Back", photos_path %>

