<p><%= link_to "New Brugram", new_photo_path(@photo) %></p>
<p><%= link_to "Home", root_path%> | <%= link_to "View All BruGrams", photos_path %> | <%= link_to "View my BruGrams", photos_mygrams_path %></p>
<%= link_to "Hashtags", hashtags_path %> 