<!DOCTYPE html>
<html>
<head>
  <title>BrugramApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
<%= render 'layouts/nav' unless @disable_nav %>
<%= render 'layouts/header' unless @disable_nav %>
<%= render 'layouts/alerts' unless @disable_nav %> 

<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</body>
</html>
